@import './Vars.scss';
@media screen and (max-width:500px){
    .containerr{
        display: $grid_display!important;
        grid-template-columns: $grid_columns!important ;
        grid-template-areas:$grid_areas!important;
    }
}